In [3]:
import pandas
import pandas as pd
import numpy as np
import scipy
from scipy.stats import iqr, uniform, binom, norm, poisson, expon, t
import matplotlib.pyplot as plt
import seaborn as sns
import json

data_folder = '../data'
# types: A = super center, B = discount store, C = neighborhood market
df_walmart = pd.read_csv(f'{data_folder}/walmart_sales_subset.csv', index_col=0)
df_homeless = pd.read_csv(f'{data_folder}/homeless.csv', index_col=0)
df_amir = pd.read_csv(f'{data_folder}/amir_deals.csv', index_col=0)
# simplify df_amir to just 100 observations
df_amir = pd.DataFrame(df_amir[:100])
df_mph = pd.read_csv(f'{data_folder}/mpg.csv')

In [4]:
# df_homeless.index
# df_homeless.head()
df_homeless.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     float64
 3   family_members  51 non-null     float64
 4   state_pop       51 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.4+ KB

In [5]:
homeless_crosstab = pandas.crosstab(df_homeless['region'],df_homeless['state'])
homeless_crosstab

state,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
region,,,,,,,,,,,,,,,,,,,,,
East North Central,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
East South Central,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
Mid-Atlantic,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Mountain,0,0,1,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
New England,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
Pacific,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
South Atlantic,0,0,0,0,0,0,0,1,1,1,...,0,0,0,0,0,1,0,1,0,0
West North Central,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
West South Central,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [9]:
df = df_homeless[['individuals','family_members']]
df.apply(np.sum,axis=0)

individuals       368515.0
family_members    178749.0
dtype: float64

In [8]:
df_homeless.iloc[:,1:3]

                   state  individuals
0                Alabama       2570.0
1                 Alaska       1434.0
2                Arizona       7259.0
3               Arkansas       2280.0
4             California     109008.0
5               Colorado       7607.0
6            Connecticut       2280.0
7               Delaware        708.0
8   District of Columbia       3770.0
9                Florida      21443.0
10               Georgia       6943.0
11                Hawaii       4131.0
12                 Idaho       1297.0
13              Illinois       6752.0
14               Indiana       3776.0
15                  Iowa       1711.0
16                Kansas       1443.0
17              Kentucky       2735.0
18             Louisiana       2540.0
19                 Maine       1450.0
20              Maryland       4914.0
21         Massachusetts       6811.0
22              Michigan       5209.0
23             Minnesota       3993.0
24           Mississippi       1024.0
25              Missouri       3776.0
26               Montana        983.0
27              Nebraska       1745.0
28                Nevada       7058.0
29         New Hampshire        835.0
30            New Jersey       6048.0
31            New Mexico       1949.0
32              New York      39827.0
33        North Carolina       6451.0
34          North Dakota        467.0
35                  Ohio       6929.0
36              Oklahoma       2823.0
37                Oregon      11139.0
38          Pennsylvania       8163.0
39          Rhode Island        747.0
40        South Carolina       3082.0
41          South Dakota        836.0
42             Tennessee       6139.0
43                 Texas      19199.0
44                  Utah       1904.0
45               Vermont        780.0
46              Virginia       3928.0
47            Washington      16424.0
48         West Virginia       1021.0
49             Wisconsin       2740.0
50               Wyoming        434.0

In [ ]:
data = pd.Series([1, 2, np.nan, 4, 5])
data.dropna()

In [ ]:
s1 = pd.Series([1,1,1,1,1])
s2 = pd.Series([1,2,3,4,5])
display(s1.std())
display(s2.std())

In [10]:
df_homeless.isna().sum()

region            0
state             0
individuals       0
family_members    0
state_pop         0
dtype: int64

In [11]:
df_homeless[['individuals','family_members']].describe()

         individuals  family_members
count      51.000000       51.000000
mean     7225.784314     3504.882353
std     15991.025083     7805.411811
min       434.000000       75.000000
25%      1446.500000      592.000000
50%      3082.000000     1482.000000
75%      6781.500000     3196.000000
max    109008.000000    52070.000000

In [12]:
np.random.normal(50,5,100)

array([58.71622381, 47.53435829, 37.48374102, 53.52533837, 49.32042916,
       45.16737175, 40.33997173, 45.48025068, 45.78907796, 54.85734857,
       46.04499551, 46.33340849, 43.22796671, 50.12529291, 50.67056344,
       42.65578597, 48.61252196, 44.32518309, 49.38153309, 52.34353112,
       54.32464885, 51.06598683, 52.84066659, 52.05761877, 47.34806449,
       62.63020349, 47.33093204, 47.34824424, 53.15312474, 49.4157019 ,
       51.65430599, 42.04878713, 45.08208435, 58.28908835, 46.0233177 ,
       49.83453933, 42.01168964, 53.66218603, 50.13295259, 53.97129804,
       53.48526071, 52.83559416, 58.4261582 , 51.84134323, 46.06615423,
       42.83543017, 52.37596931, 49.66523892, 43.84160783, 42.2032906 ,
       52.71857322, 53.61193861, 45.39705829, 52.77182006, 41.90380368,
       55.70501472, 50.01267819, 49.56986433, 57.74764884, 53.67590818,
       46.96187924, 52.16760989, 50.70591415, 47.05408127, 50.81543572,
       54.85926307, 48.22818828, 56.06242106, 46.12828931, 48.4212039 ,
       56.1570534 , 51.25892457, 54.52538328, 52.71584176, 46.38593095,
       53.60674949, 48.00813849, 50.83074802, 52.70704324, 55.25664109,
       39.96006059, 42.29416857, 46.38228228, 57.28168042, 54.2155631 ,
       52.11725624, 52.14579862, 60.94824214, 56.69637988, 55.15694987,
       47.25403113, 45.39846909, 52.82285369, 53.62621454, 47.41624064,
       46.21921471, 47.64632916, 41.49169144, 60.93488518, 51.09535312])

In [13]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [8]:
sorted(np.random.normal(size=10))

[-0.7934090602644015,
 -0.24320963862391187,
 -0.20710326593657571,
 0.06189612661157595,
 0.3444912989756072,
 0.44377770003509387,
 0.4602803588993094,
 0.5161624434652738,
 0.788892515515463,
 2.6253484698187606]

In [9]:
df_homeless.corr()

                individuals  family_members  state_pop
individuals        1.000000        0.631426   0.834960
family_members     0.631426        1.000000   0.589913
state_pop          0.834960        0.589913   1.000000